img {
  height: 200px;
  margin: 20px 0;
}

h3{
  margin-bottom: 20px;
}

hr{
  margin-top: 10px;
}

.container{
  text-align: center;
  margin-top: 100px;
}

.container.third img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

.gray{
  background-color: #f9f9f9;
}

.container.third > div:nth-of-type(2n+3){
  margin-top: 80px;
}

@media screen and (max-width: 991px){
  .container.third hr:nth-of-type(2){
    display: none;
  }
}
