img {
  height: 200px;
  margin: 20px 0;
}

h1{
  color: red;
}

h3{
  margin-bottom: 20px;
  color: blue;
}

hr{
  margin-top: 10px;
}

.container{
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.container > *{
  padding-left: 20px;
  padding-right: 20px;
}

.container.third img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

.gray{
  background-color: #f9f9f9;
}

.container.third > div:nth-of-type(1n+2){
  margin-top: 80px;
}

@media screen and (max-width: 991px){
  .container.third > div:nth-of-type(2){
    border-right: 1px solid black;
  }

  .container.third > div:nth-child(2) hr{
    display: none;
  }

  h3{
    margin-bottom: 20px;
    color: green;
  }
}

@media screen and (max-width: 767px){
  .container.third > div:nth-child(2) hr{
    display: block;
  }

  .container.third > div:nth-of-type(2){
    border-right: 0;
  }
}
